<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title} - 后台系统</title>
    {css href="_admin_/css/layui.css"}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="public/header"/}
    {include file="public/left"/}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-btn-group">
                <a class="layui-btn layui-bg-orange" href="{:url('./admin/add')}" data-type="getCheckData">添加管理员</a>
            </div>
            <table lay-filter="table" class="layui-table" id="table"></table>
        </div>
    </div>
    {include file="public/footer"/}
</div>
{js href="_admin_/layui.all.js"}
{js href="_admin_/jquery.js"}
<script type="text/html" id="admin">
    <a class="layui-btn layui-btn-primary layui-btn-xs" href="/admin/edit?id={{d.id}}">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['layer','table'], function() {
        var table = layui.table;
        //列表
        table.render({
            elem: '#table',
            page:true,
            url:"{:url('/admin/data')}",
            cols: [[
                {field:'id', title:'ID', width: 100}
                ,{field:'name', title:'用户名', width:200}
                ,{field:'title', title:'用户权限', width:200}
                ,{field:'create_time', title:'创建时间', width:200}
                ,{fixed: 'right', width:200, align:'center', title:'操作', toolbar: '#admin'}
            ]]
        });

        ///监听工具条
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del') {
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        dataType : 'json',
                        type : 'POST',
                        url : "{:url('/admin/del')}",
                        data : {'id':data.id},
                        success : function(result){
                            layer.msg(result.msg);
                        },
                        error : function(result){
                            layer.msg(result.msg)
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>