<html>
<head>
    <meta charset="utf-8">
    <title>{$title} - 后台系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {css href="_admin_/css/layui.css"}
    {css href="_admin_/login.css"}
    {css href="_admin_/admin.css"}
</head>
<body class="layui-layout-body">
    <form action="{:url('./login/login')}"  method="post">
    <div class="login">
        <h1>后台管理模板系统</h1>
        <form class="layui-form">
            <div class="layui-form-item">
                <input class="layui-input" name="username" placeholder="用户名" lay-verify="required" type="text" autocomplete="off">
            </div>
            <div class="layui-form-item">
                <input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off">
            </div>
            <!-- <div class="layui-form-item form_code">
                <input class="layui-input" name="code" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">
                <div class="code"><img src="../../images/code.jpg" width="116" height="36"></div>
            </div> -->
            <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>
        </form>
    </div>
    </form>
    <!-- <div class="layui-trans layadmin-user-login-footer">
        <p>© 2018 <a href="http://www.admin.com/" target="_blank">admin</a></p>
        <p><span><a href="http://www.admin.com" target="_blank">前往官网</a></span></p>
    </div> -->
</div>
</body>
<!--{js href="_admin_/layui.all.js"}
{js href="_admin_/jquery.js"}
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(test)', function(obj){
            layer.msg(obj.data);
            var data = obj.data;
            $.ajax({
                type:'post',
                url:"{:url('login/login')}",
                data:{
                    'username':$('#username').val(),
                    'password':$('#password').val(),
                    'token':"{:token()}"
                },
                success:function (data) {
                    layer.msg('登入成功', {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1000
                    }, function(){
                        location.hash = '/';
                    });
                },
                error:function (data) {
                    console.log(data)
                }
            })
        });
    });
</script>-->
</html>